.line-build {
  stroke:#fff;
  stroke-width:20;
}

.nav-svg-position {
  margin-left: 40px;
}

.svg-name {
  fill: rgba(247, 72, 78, 0.53);
  stroke-width: 15;
  font-size: 1.3em;
  font-family: 'Lalezar', cursive;
}
